# Node dependencies
node_modules/
npm-debug.log*

# Python virtual environments & caching
venv/
.venv/
env/
__pycache__/
*.pyc
.pytest_cache/

# Environment secrets
.env
.env.local

# Local uploads
backend/src/uploads/*
!backend/src/uploads/.gitkeep
.vercel
.env*
